
html, body, .container, .home-wrap {
  min-height: 100%;
  height:100%;
}

.chat-history-wrap {
  min-height: 80vh;
  max-height: 80vh;
  height: 80vh;
  overflow: auto;
}

.chat-message-wrap {
  min-height: 15%;
}

.row-home-wrap {
  min-height: 95%;
}